include scikits/audiolab/pysndfile/pysndfile.py.in
include site.cfg.win32
include COPYING.txt
include FLAC_SUPPORT.txt
include scikits/audiolab/pysndfile/header_parser.py
include scikits/audiolab/pysndfile/generate_const.py
